body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1068px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:337px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:65px;
  width:921px;
  height:337px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:160px;
  width:917px;
  word-wrap:break-word;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:435px;
  width:255px;
  height:52px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:251px;
  word-wrap:break-word;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:510px;
  width:255px;
  height:52px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:251px;
  word-wrap:break-word;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:585px;
  width:255px;
  height:52px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:251px;
  word-wrap:break-word;
}
